@import "font-awesome.min.css";
#wrapper {
  background-color: #212931;
  background-image: url("../../assets/img/skins/FONDO_AZULEJOS_AZUL2.jpeg");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#wrapper.fade-in:before {
  display: none;
}

body.is-preload #intro {
  opacity: 1;
}
body.is-preload #intro:not(.hidden) + #header + #nav {
  -moz-transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
